<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>org.codeberg.p2502.lspmux</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/srs/.local/bin/lspmux</string>
    <string>server</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/Users/srs/.local/bin:/opt/homebrew/bin:/opt/homebrew/sbin:/Users/srs/.cargo/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>HOME</key>
    <string>/Users/srs</string>
  </dict>
  <key>WorkingDirectory</key>
  <string>/Users/srs</string>
  <key>StandardOutPath</key>
  <string>/Users/srs/Library/Logs/lspmux.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/srs/Library/Logs/lspmux.log</string>
  <key>ProcessType</key>
  <string>Background</string>
  <key>ThrottleInterval</key>
  <integer>10</integer>
  <key>KeepAlive</key>
  <true/>
  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
